.home{
    width: 100%;
    height: 800px;
    margin: 0;
    margin-top: 140px;
    position: relative;
}
.imgcontent{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 0;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}
.imgcontent img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.home .text-content{
    width: calc(100%-100px);
    display: flex;
    margin: 0 100px;
    margin-top: 50px;
    flex-direction: column;
    position: absolute;
    z-index: 5;
    gap: 10px;
}
.home .text1 , .home .text2{
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: start;
    flex-direction: column;
}
.home .text1 h1{
font-family: Jost;
font-size: 50px;
font-weight: 700;
/* line-height: 30px; */
letter-spacing: -0.045em;
text-align: left;
color: rgba(247, 247, 247, 1);
}
.home .text2{
    width: 100%;
    display: flex;
    justify-content: start;
    text-align: start;
    flex-direction: column;
     /* margin-top: 10px !important; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    gap: 8px !important;
}
.home .text2 p{
    font-family: "Inter";
    font-size: 25px;
    font-weight: 600;
    letter-spacing: -0.045em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin: 0;
    padding: 0;
}
.home .text-content button{
    width: 300px;
height:   50px;
display: flex;
align-items: center;
justify-content: center;
padding: 10px 20px;
margin-top: 20px;
border-radius: 30.6px;
background: rgba(243, 120, 36, 1);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: "Inter";
font-size: 25px;
font-weight: 600;
line-height: 70px;
letter-spacing: -0.025em;
text-align: center;
color: rgba(255, 255, 255, 1);
cursor: pointer;
border: 1px solid rgba(243, 120, 36, 1);
transition: all 0.3s;
}
.home button:hover{
    background-color: white;
    color:  rgba(243, 120, 36, 1);
    border: 2px solid rgba(243, 120, 36, 1);
}
@media (max-width:1100px) {
    .imgcontent{
    display: grid;
    grid-template-columns: repeat(3,auto);
    }
    .imgcontent img:nth-child(4){
        display: none;
    }
    .text-content .text1 h1{
        font-size: 40px !important;
    }
}
@media (max-width:850px) {
    .imgcontent{
    display: grid;
    grid-template-columns: repeat(2,auto);
    }
    .imgcontent img:nth-child(4) , .imgcontent img:nth-child(3){
        display: none;
    }
    .text-content .text1 h1{
        font-size: 30px !important;
    }
    .text-content .text2 p{
        font-size: 20px !important;
    }
}
@media (max-width:500px) {
    .text-content{
        width: calc(100%-50px) !important;
        margin: 50px !important;
    }
    .text-content .text1 h1{
        font-size: 25px !important;
    }
    .text-content .text2 p{
        font-size: 20px !important;
    }
}